{# templates/task_list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <h1>Liste des tâches</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{{ path('task_show', {'id': task.id}) }}">
                    {{ task.task }} (à rendre le {{ task.dueDate ? task.dueDate|date('d/m/Y') : 'N/A' }})
                </a>
            </li>
        {% else %}
            <li>Aucune tâche trouvée.</li>
        {% endfor %}
    </ul>
{% endblock %}
