{# templates/user_list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% else %}
            <li>Aucun utilisateur trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
